# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Editor / OS
.vscode/
.idea/
.DS_Store

# data / models
*.tar
*.pt
*.bin
*.cache/

# Docker save files
*.tar
